@model DATNN.Models.SanPhamChiTiet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SanPhamChiTiet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @* @Html.DisplayFor(model => model.HinhAnh) *@
            @if (!string.IsNullOrEmpty(Model?.HinhAnh))
            {
                <img src="~/images/@Model.HinhAnh" alt="Hình ảnh 1" class="img-thumbnail" style="max-width: 200px;">
            }
            else
            {
                <span class="text-muted">Không có hình ảnh</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MauSac.TenMau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size.TenSize)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSanPhamChiTiet">Edit</a> |
    <a asp-controller="SanPham" asp-action="Index" asp-route-openSanPhamId="@Model.MaSanPham">Back to List</a>
</div>
