@model IEnumerable<DATNN.Models.SanPhamChiTiet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MauSac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
           
            <td>
                @* @Html.DisplayFor(modelItem => item.HinhAnh) *@
                    <img src="~/images/@item.HinhAnh" alt="AnhSanPham" style="max-width: 150px; height: auto;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.MaSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MauSac.MaMauSac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.MaSize)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSanPhamChiTiet">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSanPhamChiTiet">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSanPhamChiTiet">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
